<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/tailwindcss/output.css">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    <title>MyCar</title>
</head>
<body>
    <nav class="bg-white">
        <!-- TODO REMOVE ALL BORDER & COLORS -->
        <div class="relative first-letter:flex flex-row justify-between text-center">
            <div class="bg-slate-200">
                <p>Contact us Now</p>
            </div>
        </div>

        <div class="max-w-full mx-auto px-2 sm:px-6 lg:px-8">
            <div class="relative flex items-center justify-around h-16">
                <!-- >>sm screen menu -->
                <div class="flex-shrink-0 flex items-center">
                    <!--TODO FIXME logo here -->
                    <div class="flex-shrink-0 flex items-center">
                        <!-- svg for phone -->
                        <img class="block lg:hidden h-8 w-auto" src="https://tailwindui.com/img/logos/workflow-mark-indigo-500.svg"
                            alt="Workflow">
                        <img class="hidden lg:block h-8 w-auto hover:scale-105 duration-500"
                            src="https://tailwindui.com/img/logos/workflow-logo-indigo-500-mark-white-text.svg" alt="Workflow">
                    </div>
                </div>

                <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
                    <div class="hidden sm:block sm:ml-6">
                        <div class="flex space-x-4">
                            <div>
                                <a href="#"
                                    class="duration-500 px-3 py-2 text-sm font-medium text-gray-600 hover:border-b-4 hover:border-b-gray-800 hover:text-gray-800 hover:scale-100">Home</a>
                            </div>
                            <div>
                                <a href="#"
                                    class="duration-500 px-3 py-2 text-sm font-medium text-gray-600 hover:border-b-4 hover:border-b-gray-800 hover:text-gray-800 hover:scale-100">Vehicles</a>
                            </div>
                            <div>
                                <a href="#"
                                    class="duration-500 px-3 py-2 text-sm font-medium text-gray-600 hover:border-b-4 hover:border-b-gray-800 hover:text-gray-800 hover:scale-100">Contacts</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- search bar component -->
                <div class="flex-1 flex relative text-gray-600 mx-auto items-center justify-center sm:items-center sm:justify-end mr-2">
                    <div class="hidden sm:block sm:ml-6">
                        <div class="flex space-x-3">  
                                <input class="border-2 border-gray-300 bg-white focus:outline-gray-400 h-10 px-5 pr-16 rounded-lg text-sm" type="search"
                                    name="search" placeholder="Search">
                                <button type="submit" class="absolute right-3 top-0 mt-3 mr-4">
                                    <svg class="text-gray-600 h-4 w-4 fill-current" xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px"
                                        viewBox="0 0 56.966 56.966" style="enable-background:new 0 0 56.966 56.966;" xml:space="preserve"
                                        width="512px" height="512px">
                                        <path
                                            d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z" />
                                    </svg>
                                </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <!-- CODE FOR THE MAIN PAGE -->
    <main class="flex flex-col">

        <!-- THE SLIDESHOW MENU -->
        <div class="sliderAx h-auto">
                <div id="slider-1" class="container mx-auto">
                    <div class="bg-cover bg-center  h-auto text-white py-24 px-10 object-fill"
                        style="background-image: url(https://images.unsplash.com/photo-1544427920-c49ccfb85579?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1422&q=80)">
                        <div class="md:w-1/2">
                            <p class="font-bold text-sm uppercase">Services</p>
                            <p class="text-3xl font-bold">Hello world</p>
                            <p class="text-2xl mb-10 leading-none">Carousel with TailwindCSS and jQuery</p>
                            <a href="#"
                                class="bg-purple-800 py-4 px-8 text-white font-bold uppercase text-xs rounded hover:bg-gray-200 hover:text-gray-800">Contact
                                us</a>
                        </div>
                    </div>
                </div>
        
                <div id="slider-2" class="container mx-auto">
                    <div class="bg-cover bg-center h-auto text-white py-24 px-10 object-fill"
                        style="background-image: url(https://images.unsplash.com/photo-1544144433-d50aff500b91?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80)">
        
                        <p class="font-bold text-sm uppercase">Services</p>
                        <p class="text-3xl font-bold">Hello world</p>
                        <p class="text-2xl mb-10 leading-none">Carousel with TailwindCSS and jQuery</p>
                        <a href="#"
                            class="bg-purple-800 py-4 px-8 text-white font-bold uppercase text-xs rounded hover:bg-gray-200 hover:text-gray-800">Contact
                            us</a>
        
                    </div> 
                </div>
        </div>
        <div class="flex justify-between w-12 mx-auto pb-2 mt-5">
            <button id="sButton1" onclick="sliderButton1()" class="bg-purple-400 rounded-full w-4 pb-2 "></button>
            <button id="sButton2" onclick="sliderButton2() " class="bg-purple-400 rounded-full w-4 p-2"></button>
        </div>
        

        
        

        <script>
        var cont = 0;
        function loopSlider() {
            var xx = setInterval(function () {
                switch (cont) {
                    case 0: {
                        $("#slider-1").fadeOut(400);
                        $("#slider-2").delay(400).fadeIn(400);
                        $("#sButton1").removeClass("bg-indigo-300");
                        $("#sButton2").addClass("bg-indigo-300");
                        cont = 1;

                        break;
                    }
                    case 1:
                        {

                            $("#slider-2").fadeOut(400);
                            $("#slider-1").delay(400).fadeIn(400);
                            $("#sButton2").removeClass("bg-purple-800");
                            $("#sButton1").addClass("bg-purple-800");

                            cont = 0;

                            break;
                        }
                }
            }, 6000);
        }

        function reinitLoop(time) {
            clearInterval(xx);
            setTimeout(loopSlider(), time);
        }

        function sliderButton1() {

            $("#slider-2").fadeOut(400);
            $("#slider-1").delay(400).fadeIn(400);
            $("#sButton2").removeClass("bg-indigo-800");
            $("#sButton1").addClass("bg-indigo-800");
            reinitLoop(4000);
            cont = 0

        }

        function sliderButton2() {
            $("#slider-1").fadeOut(400);
            $("#slider-2").delay(400).fadeIn(400);
            $("#sButton1").removeClass("bg-indigo-800");
            $("#sButton2").addClass("bg-indigo-800");
            reinitLoop(4000);
            cont = 1

        }

        $(window).ready(function () {
            $("#slider-2").hide();
            $("#sButton1").addClass("bg-purple-800");

            loopSlider();
        });
        </script>
    </main>
</body>
</html>